@inherits UmbracoTemplatePage
@{
	Layout = "SiteMaster.cshtml";
}
<section style="background: #FFF; padding: 0;">
    <div class="row">
        <div class="col-md-12"  >
            <h1 style="color: black;">@Umbraco.Field("Title")</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <img style="width: inherit; height: 500px;" src="~/Content/images/background/page_is_under_construction.jpg" />
        </div>
    </div>

</section>