<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT common ANY>
<!ATTLIST common id ID #REQUIRED>
<!ELEMENT mixinCommon ANY>
<!ATTLIST mixinCommon id ID #REQUIRED>
<!ELEMENT mixinMeta ANY>
<!ATTLIST mixinMeta id ID #REQUIRED>
<!ELEMENT Mixins ANY>
<!ATTLIST Mixins id ID #REQUIRED>

]>
<root id="-1">
  <common id="1068" key="002e9eea-768c-4473-8a90-65053d7cc4db" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-19T16:29:52" updateDate="2016-06-26T17:08:42" nodeName="kundeportal.moment.dk" urlName="kundeportalmomentdk" path="-1,1068" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="common">
    <title><![CDATA[Kunde Portal]]></title>
    <subTitle><![CDATA[Welcome to Kunde Portal]]></subTitle>
    <htmlContent><![CDATA[<p>This is a landing page for Kunde Portal</p>]]></htmlContent>
    <pageTitle><![CDATA[Kundeportal | moment.dk]]></pageTitle>
    <common id="1075" key="738b6e38-bb76-42b5-a027-d06bb42ad743" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2016-06-28T09:17:22" updateDate="2016-06-28T13:07:31" nodeName="Bright Planning" urlName="bright-planning" path="-1,1068,1075" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1081" nodeTypeAlias="common">
      <title><![CDATA[Moment Bright Planning]]></title>
      <subTitle><![CDATA[Bright Planning Page]]></subTitle>
      <htmlContent><![CDATA[<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td>
<div>
<p>Her finder du det totale overblik over dine vagter og vikarer.</p>
<p>Du kan:</p>
<ul>
<li>Se en oversigt over de vagter der er oprettet</li>
<li>Følge den videre proces med bookning af vikarer til vagterne</li>
<li>Se hvornår dine vikarer kan arbejde</li>
<li>Få hurtigt overblik over din vagtplan på dags-, uge- og månedsbasis</li>
</ul>
<p><br />Klik på billedet til højre for at logge ind i planlægningsoversigten.<br />Tast herefter nedenstående brugernavn og password.</p>
</div>
<br />
<table border="0">
<tbody>
<tr>
<td>     </td>
<td>E-mail:</td>
<td>     </td>
<td>ps@moment.dk</td>
</tr>
<tr>
<td> </td>
<td>Adgangskode:</td>
<td> </td>
<td><span id="pwd">••••••</span></td>
</tr>
<tr>
<td> </td>
<td>
<div id="uniform-hidepwd" class="checker"><span></span></div>
Vis kode</td>
</tr>
<tr>
<td> </td>
<td><br /><a href="https://kundeportal.moment.dk/skiftkode">Skift adgangskode</a></td>
</tr>
</tbody>
</table>
<br /><br /><br />Du kan se release notes fra de sidste versioner af Bright Planning <a href="https://kundeportal.moment.dk/students/bright-planning-release-note">her</a>.</td>
<td>   </td>
<td><br />
<p><a id="InstallButton" href="https://kundeportal.moment.dk/bright_planning/Moment.BrightPlanning.application"><img src="https://kundeportal.moment.dk/media/2573/brightplanning.png" alt="" /></a></p>
Hvis det ikke virker at klikke på billedet herover, kan du i stedet klikke <a href="https://kundeportal.moment.dk/bright_planning/setup.exe">her</a>.</td>
</tr>
</tbody>
</table>]]></htmlContent>
      <pageTitle><![CDATA[Bright Planning]]></pageTitle>
    </common>
    <common id="1076" key="ac48267e-30fd-4158-b4dd-0f0b49020c62" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2016-06-28T09:19:33" updateDate="2016-06-28T12:27:16" nodeName="Timeoversigt" urlName="timeoversigt" path="-1,1068,1076" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1082" nodeTypeAlias="common">
      <title><![CDATA[Timeoversigt]]></title>
      <subTitle><![CDATA[This is aTimeoversigt Page]]></subTitle>
      <htmlContent><![CDATA[<p>The page is under construction. Please come back later...</p>]]></htmlContent>
      <pageTitle><![CDATA[Timeoversigt]]></pageTitle>
    </common>
    <common id="1077" key="7c7cdf3c-6d99-40d4-83b5-f4b6cfa312e0" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2016-06-28T09:20:34" updateDate="2016-06-28T10:35:19" nodeName="Faktura" urlName="faktura" path="-1,1068,1077" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1082" nodeTypeAlias="common">
      <title><![CDATA[Faktura]]></title>
      <subTitle><![CDATA[Faktura Page]]></subTitle>
      <htmlContent><![CDATA[<p>This page is under construction, Please come back later...</p>]]></htmlContent>
      <pageTitle><![CDATA[Faktura]]></pageTitle>
    </common>
    <common id="1078" key="d9d2423d-c163-4383-b7af-009fea88698a" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2016-06-28T09:22:57" updateDate="2016-06-28T13:10:54" nodeName="Kontakt" urlName="kontakt" path="-1,1068,1078" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1084" nodeTypeAlias="common">
      <title><![CDATA[Dit team hos Moment]]></title>
      <subTitle><![CDATA[Kontakt Page]]></subTitle>
      <htmlContent><![CDATA[<p><span>I kan altid komme i kontakt med os i Moment, ved at ringe til os på tlf. 70 20 18 35. Vi har åbent  mandag-torsdag kl. 06.00 - 23.00, fredag kl. 06.00-20.00 og i weekenden kl. 08.00 - 18.00.</span></p>
<p><span>For spørgsmål, bestillinger mv. kontakt venligst dit team hos Moment.</span></p>
<p>Vores Account Managers står for alt vedrørende de kontraktmæssige forhold.<br />Vores Rekrutteringskonsulenter er ansvarlige for den daglige vikaradministration mv.</p>]]></htmlContent>
      <pageTitle><![CDATA[Kontakt]]></pageTitle>
    </common>
    <common id="1079" key="92fcf007-363a-492e-b2db-ca232ac37f3b" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2016-06-28T09:26:47" updateDate="2016-06-28T13:12:10" nodeName="Forretningsbetingelser" urlName="forretningsbetingelser" path="-1,1068,1079" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1082" nodeTypeAlias="common">
      <title><![CDATA[Forretningsbetingelser]]></title>
      <subTitle><![CDATA[Forretningsbetingelser Page]]></subTitle>
      <htmlContent><![CDATA[<p>This page is under construction, please visit later.</p>]]></htmlContent>
      <pageTitle><![CDATA[Forretningsbetingelser]]></pageTitle>
    </common>
    <common id="1080" key="c5352682-3d94-4c25-a1c1-8819bee414c5" parentID="1068" level="2" creatorID="0" sortOrder="6" createDate="2016-06-28T09:28:10" updateDate="2016-06-28T12:23:59" nodeName="Om os" urlName="om-os" path="-1,1068,1080" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1083" nodeTypeAlias="common">
      <title><![CDATA[Om os]]></title>
      <subTitle><![CDATA[Om os Page]]></subTitle>
      <htmlContent><![CDATA[<p>This page is under construction, Please come back later.</p>]]></htmlContent>
    </common>
  </common>
</root>